/* #################### GLOBAL #################### */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(21, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
  /* color: rgb(235, 234, 234); */
}

/* #################### APP CONTAINER #################### */
.app-container {
  background-color: rgb(165, 165, 165);
  width: 90%;
  max-height: 95%;
  display: grid;
  /* grid-template-rows: repeat(14, 1fr); */
  grid-template-rows: repeat(2, 1fr) 0.5fr repeat(11, 1fr);
  grid-template-columns: repeat(5, 1fr) 0.75fr;
  /* grid-template-columns: repeat(6, 1fr); */
  border-radius: 30px;
  /* padding: 1rem; */
  padding: clamp(1rem, 2vw, 2rem);
}

/* #################### LOCATION SECTION #################### */
.location-container {
  grid-column: 1 / 5;
  grid-row: 1 / 4;
  /* background-color: aquamarine; */
}

.location-town {
  font-size: clamp(1rem, 2vw + 1.5vh, 6rem);
  font-weight: 900;
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
  /* font-family: "Arvo"; */
}

.location-state-and-country {
  font-size: clamp(0.7rem, 0.5vw + 1vh, 2rem);
}

/* #################### CURRENT WEATHER SECTION #################### */
.temperature-and-overcast-container {
  grid-column: 5 / 7;
  grid-row: 1 / 4;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* column-gap: 1rem; */
  font-size: clamp(1rem, 3vw + 1.5vh, 7rem);
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
  font-weight: 900;
}

.temperature-and-overcast-subcontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2.5vw;
}

.additional-data-container {
  grid-column: 6 / 7;
  grid-row: 4 / 7;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  text-align: end;
  row-gap: 1rem;
  font-size: clamp(0.6rem, 1.1vw, 2rem);
}

/* #################### FORECAST CHART SECTION #################### */
.forecast-container {
  grid-column: 1 / 6;
  grid-row: 4 / 15;
  /* background-color: crimson; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* transform: translateY(-2vw); */
  /* overflow: hidden; */
  /* overflow: auto; */
}

/* #myChart {
  width: 100% !important;
  height: 100%;
} */

/* There was an issue, where the ChartJS chart did not resize vertically when shrinking the window vertically. The following code, plus setting the "position" in ".forecast-container" to "relative" seems to have fixed it */
.forecast-container > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* #myChart {
  position: relative;
  min-height: auto;
  width: 100%;
  display: flex;
  flex-grow: 1;
} */

/* #################### SEARCH SECTION #################### */
.search-btn-container {
  grid-column: 6 / 7;
  grid-row: 13 / 15;
  /* background-color: darkorange; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.search-btn {
  border-radius: 50%;
  font-size: clamp(0.8rem, 2vw, 4rem);
  border: none;
  padding: calc(0.5vh + 1vw);
}

#map {
  grid-column: 6 / 7;
  grid-row: 7 / 12;
}

/* #################### MEDIA QUERIES #################### */
@media only screen and (max-width: 1200px) {
  body {
    background-color: blue;
  }
  .app-container {
    grid-template-rows: 1fr 1.1fr repeat(10, 1fr) repeat(2, 0.7fr);
    grid-template-columns: repeat(6, 1fr);
  }
  .forecast-container {
    grid-column: 1 / 7;
    grid-row: 3 / 13;
  }
  .additional-data-container {
    grid-column: 1 / 7;
    grid-row: 13 / 15;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: start;
    column-gap: 1rem;
    font-size: clamp(0.5rem, 1.25vw, 2rem);
  }
  .location-state-and-country {
    font-size: clamp(0.6rem, 0.75vw + 0.75vh, 2rem);
  }
}

@media only screen and (max-width: 565px) {
  body {
    background-color: crimson;
  }
  .app-container {
    grid-template-rows: 1fr 1.1fr repeat(9, 1fr) repeat(2, 0.7fr);
  }
  .forecast-container {
    grid-row: 3 / 12;
  }
  .additional-data-container {
    grid-row: 12 / 14;
  }
  .search-btn-container {
    grid-row: 12 / 14;
  }
}

@media only screen and (max-width: 485px) {
  .app-container {
    grid-template-rows: 1fr 1.1fr repeat(8, 1fr) repeat(2, 0.7fr);
  }
  .forecast-container {
    grid-row: 3 / 11;
  }
  .additional-data-container {
    grid-row: 11 / 13;
  }
  .search-btn-container {
    grid-row: 11 / 13;
  }
}

@media only screen and (max-width: 430px) {
  .app-container {
    grid-template-rows: 1fr 1.1fr repeat(7, 1fr) repeat(2, 0.7fr);
  }
  .forecast-container {
    grid-row: 3 / 10;
  }
  .additional-data-container {
    grid-row: 10 / 12;
  }
  .search-btn-container {
    grid-row: 10 / 12;
  }
}

@media only screen and (max-width: 360px) {
  .app-container {
    grid-template-rows: 1fr 1.1fr repeat(6, 1fr) repeat(2, 0.7fr);
  }
  .forecast-container {
    grid-row: 3 / 9;
  }
  .additional-data-container {
    grid-row: 9 / 11;
  }
  .search-btn-container {
    grid-row: 9 / 11;
  }
}

/* @media only screen and (max-height: 700px) {
  body {
    background-color: tomato;
  }
  .app-container {
    grid-template-rows: repeat(2, 1fr) 0.5fr repeat(11, 1fr);
    grid-template-columns: repeat(5, 1fr) 0.75fr;
  }
  .forecast-container {
    grid-column: 1 / 6;
    grid-row: 4 / 15;
  }
  .additional-data-container {
    grid-column: 6 / 7;
    grid-row: 4 / 7;
    display: flex;
    flex-direction: column;
    text-align: end;
    row-gap: 1rem;
    font-size: clamp(0.6rem, 1.1vw, 2rem);
  }
  .location-state-and-country {
    font-size: clamp(0.7rem, 1.2vw, 2rem);
  }
} */

/* @media only screen and (max-height: 450px) {
  body {
    background-color: cyan;
  }
  .app-container {
    grid-template-columns: repeat(4, 1fr) 0.75fr;
  }
  .forecast-container {
    grid-column: 1 / 5;
  }
  .additional-data-container {
    grid-column: 5 / 6;
  }
  .temperature-and-overcast-container {
    grid-column: 4 / 6;
    grid-row: 1 / 4;
  }
  .search-btn-container {
    grid-column: 5 / 6;
  }
} */
